.password-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;

  .password-output {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    input {
      padding: 10px 40px 10px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 24px;
      flex: 1;
      width: calc(100% - 50px); // Adjust for button width
    }

    .copy-button {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: #007bff;
      }
    }
  }

  .password-settings {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    label {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      input[type='range'] {
        margin-left: 10px;
      }

      input[type='checkbox'] {
        margin-right: 10px;
      }
    }
  }

  .password-range {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;

    input {
      width: 100%;
    }
  }

  .generate-button {
    padding: 10px 20px;
    border: 1px solid #c0c0c0;
    width: 100%;
    font-size: 24px;
    background-color: #5bffd9;
    border-radius: 4px;
    cursor: pointer;
  }
}
